
* {
    margin:0;
    padding:0;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;

    color:inherit;
  
}

body{
    height:100vh;
    /* min-height: -webkit-fill-available; */
    min-height: 100vh;
    max-height:100vh;
    overflow:hidden;
    
}
.back{

    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f9f1e9;
    /* background-color: #fbcbc1; */
    opacity:0;
}
.back2{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f9f1e9;
    background-color: #d6e6f3;
    opacity:1;
    z-index:-1;
}
.back3{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #95cece;
    transition:all 1.5s ease-in-out;
    opacity:1;
    z-index:-1;
}

.back4{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #95ce9e;
    opacity:1;
    z-index:-1;

    
    background-image: url("contact.jpg");
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.contain{
    object-fit:contain;
}

.headholder{
    width: 180px;
    position: absolute;
    right: 50px;
}

.headholderskills{
    width: 200px;
    position: absolute;
    right: 50px;
}
.headholderproj{
    position:absolute;
    right:50px;
    width: 269px;
    white-space: nowrap;
    margin-top:20px;
}

.programs{
    /* text-align:center; */
    font-size:30px;
    font-weight:350;
    /* text-align: center; */
    word-wrap: break-word;
    color:#3b3f42;
}

.container-fluid{
    height:100%;
    width:100%;

    /* CSS SMOOTH SCROLLING */
    /* overflow-y:scroll;
    scroll-behavior:smooth;
    scroll-snap-type: y mandatory; */
}

.section{
    display:block;
    height:100vh;
    width:100%;
    background-color:rgb(48, 133, 133);
    scroll-snap-align: center;
}

.button{
    opacity:0;
    /* border:1px solid black; */
    
    width:250px;
    
    height:50px;
    border-radius:1px;

    border-radius:1px;
    /* z-index:2000; */

}

.viewbutton{
    font-size:15px !important;
}
.mybutton{
    opacity:0;
    margin:0;
    padding:0;
    text-align: center;
    position:relative;
    width:250px;
    height:50px;

    color:white;
    border:1px solid rgba(0, 0, 0, 0.438);
    border-radius:1px;

    width:200px;
    height:40px;
    
}
.mybutton:hover{
    background-color:rgb(165, 201, 204);
    border:1px solid transparent;
}
.mybutton:hover .viewbutton{
    color:white !important;
}
.button.other{
    opacity:1;
}
.viewmywork{
    padding-top:40px !important;
}


.button:hover{
    background-color:rgba(255, 255, 255, 0.897);
    cursor:pointer;
    transition:0.3s ease-in-out;
    /* border:1px solid black; */

    
}
.button:hover .main-title{
    transition:0.3s ease-in-out;
    color:black !important;
}

.button.trio{
    opacity:1;
    /* border:1px solid white; */
    
    /* width:250px; */
    width:50px;
    height:50px;
    border-radius:1px;

    border-radius:3px;
    /* background-color:rgba(255, 255, 255, 0.897); */
    filter: invert(1);
    transition:0.2s ease-in-out;

}
.button.trio:hover{
    background-color:rgba(255, 255, 255, 0.897);
    background-color:transparent;
    /* background-color:transparent; */
    cursor:pointer;
    transition:0.3s ease-in-out;
    /* border:1px solid black; */
    /* width:51px; */
    height:51px;
    transform:translateY(-20px);
    /* border:1px solid transparent; */
    /* filter: invert(1); */

    /* border:1px solid black; */
    transition:0.2s ease-in-out;

    /* filter:invert(-1); */
}

#section3{
    background-color:rgb(62, 135, 202);
}

/* .men{
    width:300px !important;
} */
/* .show{
    border:1px solid green;
} */
.blow{
    border:2px solid blue;
}
.throw{
    /* border:2px solid yellow; */
}

.image{
    position:absolute;
    left:0;
    top:0;
    
}


.hide{
    opacity:0;
}
.holder{
    position: absolute;
    top: 0px;
    padding-left:170px;
    top:-100px;

    right:15px;
    padding-left:0;
}
.aboutme-big{
    opacity:0;
    color:#3b3f42 !important;
   
}
.rocket2{
    top:-100px;
}

.page_headers{
    font-size:30px !important;
    top:10px;
}
.programmer{
    position:relative;
    /* bottom:20px; */
    width:100%;
    
    max-height:35vh;
    opacity:0;
    /* z-index:-1000; */
    /* border:1px solid red; */

    width:70%;
    /* border:1px solid red; */
}

.hold{
    position:absolute;
    bottom:13px;
    width:100%;
    
}
.about{
    position:relative;
    font-size:19px !important;
    color:#3b3f42 !important;
    text-align:left !important;
    font-weight:600;
    /* border:1px solid red; */
    padding-left:30px !important;
    padding-right:30px !important;
    /* padding-top:30px !important; */

}

.viewbutton{
    color:black !important;
    font-size:20px;
    white-space:nowrap;
    /* border:1px solid black; */
    
}

/* .box{
    border:1px solid black;
    width:280px;
    height:40px;
} */

.aboutme{
    /* top:10%; */
    /* font-size:3rem !important; */
    top:40%;
    
}

.badge{
    height:100px;
    cursor:pointer;
    /* transition: 0.2s ease-in-out; */
    /* transform-style: preserve-3d !important; */
    /* transition: transform 0.8s !important;  */
    /* -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;  */
   
}
.badge:hover{
    /* transform:scale(1.1) !important; */
    /* transition: 0.2s ease-in-out; */
    transform: rotateY(-180deg) scale(1.1)!important; 
    /* transition: transform 0.8s !important; */
    /* -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;  */
  
}
/* .badge:active{
    transform: rotateY(-180deg) scale(1.1)!important; 
    transition: transform 0.8s !important;
    -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease; 
  
} */
.dot{
    height: 250px;
    width: 250px;
    background-color: #bbb;
    border-radius: 50%;  
    

    /* position:absolute;
    top:30%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%,-50%,0); */
    position:absolute;
    display:inline-block;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);

    transition: all 1.1s ease;
    -webkit-transition: all 1.1s ease;
}

.dots{
    background-color:white !important;
}
.me{
    height: 250px;
    width: 250px;
    position:absolute;
    display:inline-block;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    
}
.icons{
    position:absolute;
    top:82%;

}
.stuff{
    position:absolute;
    
    height:400px;
    top:40%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%,-50%,0);
}

.main-text{
    /* border:1px solid blue; */
    /* position:absolute;
    top:100%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%,-50%,0);
     */
    position:relative;
    top:360px;
    
}
.grid{
    padding-top:15%;
}

.allprograms{
    padding-left: 50px !important;
    padding-top: 66px !important;
}

.men{
    width:100%;
    margin-right: auto!important;
    margin-left: auto!important;
}

.fronticons{
    width:30px;
}
.button.trio{
    width:30px;
    height:30px;
}
.icons{
    top:82%;
}
.hello{
    font-size:5em;
}
#fp-nav{
    display:none;
}
/* .viewwork{
    border:1px solid black !important;
}
.viewwork:hover{
    border:1px solid black !important;

} */


.main-title.hello:hover{
    cursor:url('/twit.png') 60 60, auto;
    
}
.hello{
    font-size:5em !important;
    padding-left:6px;
}

.sub-title{
    
}

.screen{
   transform:scale(0.5);
   top:0;
}
.video{
    position: absolute;
    top: 0px;
    transform: translate(12px,56px);
    
}
.rocket3{
    top:-100px;
    position: absolute !important;
}
.recentproj{
    font-size:30px !important;
}

.whatsmy-title {
    font-size: 22px !important;
    top: 11px !important;
    left: -12px;
    
}
.whatsmy-smaller{
    font-size: 17px !important;
    top: 14px !important;
    left:-12px;
   
}
/* 
.whatsmy-title{
    font-size:30px !important;
}
.whatsmy-title{
    font-size:30px !important;
} */

.subtouch{
    /* position:absolute;
    top:50%; */
    font-size: 14.5px !important;
    white-space: nowrap;
    transform: translateY(-5px);
}
.whatsmy{
    width:100%;
    top:0;

}

/* old */
#bg-1 {

    background-image: url("whatsmychord.jpg");
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bg-2 {

    background-image: url("philosophycove-new.jpg");
    
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
  }

  #bg-3 {

    
    background-image: url("warshashop.jpg");

    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
  }
  #bg-4 {

    background-image: url("netflixbrowser-new.jpg");
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

   
  }

  /* new */
/* #bg-1 {

    background-image: url("whatsmychord.jpg");


  }

  #bg-2 {
   
    background-image: url("thephilosophycove.jpg");

  }

  #bg-3 {
  
    background-image: url("warshashop.jpg");


  }
  #bg-4 {
 
    background-image: url("netflixbrowser.jpg");

  } */


  .title-left{
    font-family: 'Raleway';
    color: #f9f1e9;
    font-size: 3em;
    /* top: 0; */
    position: absolute;
    top: 20%;
    left: 70px;
  }
  .desc-left{
    position: absolute;
    top: 26%;
    left: 113px;
    font-family: 'Raleway';
    font-size: 2em;
    width: 427px;
  }

  .mobile-title1{
    font-size: 22px !important;
    transform: translateX(-20px) !important;
  }
  .mobile-title2{
    font-size: 18px !important;
    transform: translateX(-29px) translateY(3px) !important;
  }
  /* .slide{
      background-size:cover;
  } */
  .slide_number{
    positioN: absolute;

    z-index: 4000;


    /* left: 16px;
    bottom: 5px; */

    bottom: 10px;
    right: 16px;


    color: #f9f1e9;
    font-size: 30px;
    
    }
    .options1, .options2, .options3, .options4{
        position: absolute;
    
        opacity: 0.8;

        bottom: 29px;
        /* color: #f9f1e9; */
        left: 32px;
    }
    .options2{
        left:calc(100vw + 32px) !important;
        opacity: 1 !important;
    }
    .options3{
        left:calc(200vw + 32px) !important;
        opacity: 1 !important;
    }
    .options4{
        left:calc(300vw + 32px) !important;
        opacity: 1 !important;
    }

    .options_text{
        font-size: 2em !important;
        transition: all 0.5s ease-in-out;
    }
  
    .onion1, .onion2, .onion3, .onion4{
        display:none;
        width: 100%;
        height: 100%;
        background-color: #f5f5dcb3;
        transition: all 1s ease-in-out;
        opacity:0;
    }
    .info1_desc, .info2_desc, .info3_desc, .info4_desc{
        position: absolute;
        width: 75vw;
        font-family: 'Raleway-SemiBold';
        top:30%;
        font-size: 18px;
    }
    .desktop_info1_desc, .desktop_info2_desc, .desktop_info3_desc, .desktop_info4_desc{
       
        width: 75vw;
        font-family: 'Raleway-SemiBold';
        width:300px;
       
        font-size: 18px;
    }
    .desktop_options_text{
        font-size: 2em !important;
        transition: all 0.5s ease-in-out;
        color:#f9f1e9;
    }
    .desktop_holder1{
        position: absolute;
        left: 40px;
        top: 40%;
    }

    .desktop_holder2{
        position: absolute;
        right: calc(200vw + 40px);
        top: 40%;
    }
    .desktop_holder3{
        position: absolute;
        left: calc(200vw + 40px);
        top: 40%;
    }
    .desktop_holder4{
        position: absolute;
        right: 40px;
        top: 40%;
    }
    .desktop_holder1,.desktop_holder2,.desktop_holder3,.desktop_holder4{
        display:none;
    }
 

    .fp-tooltip.right{
        opacity:0.35;
    }

    .getintouch{
        font-family: 'Raleway-SemiBold';
        font-size:50px !important;
    }
    .touch{
        /* position:absolute;
        top:41%; */
    }
    .touchlinks{
        padding-top: 20px;
        padding-left: 30px;
    }

    .links {
        font-size: 14px !important;
        color: #2b2b2b;
        margin: 0 auto;
        font-family: 'Raleway';
        line-height: 17px;
    }
    .links:hover{
        color:#f9f1e9;
    }
    .contact_holder{
        position:absolute;
        top:41%;
    }
    .black{
        position:absolute;
        z-index:5000;
        width:100%;
        height:100%;
        background-color:black;
    }

 

/* ------------------------loader------------------------- */
.loader-wrapper{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#343434;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }

/* ------------------------loader (END) ------------------------- */


@media (max-device-width:768px){
    .fp-controlArrow{
        display:none;
    }
}



/*  Width < 420px  IPHONE X*/
@media (max-width:420px){
    @media (min-height:800px){
        .men{
            width:250px !important;
            margin-right: auto!important;
            margin-left: auto!important;
        }
    }
    /*  Height > 650px */
    @media (min-height:650px){
        .men{
            width:250px !important;
            margin-right: auto!important;
            margin-left: auto!important;
        }
        .grid{
            padding-top:15px;
        
        }
        .badge{
            height:90px;
        }
    }
    /*  Height > 700px */
    @media (min-height:700px){
        
        .grid{
            padding-top:25px;
        }
        .badge{
            height:100px;
        }
        .viewmywork{
            padding-top:130px !important;
        }
        .about{
            padding-top:40px;
        }
        .programs{
            font-size:50px !important;
        }
        
    }
    /*  Height > 750px */
    @media (min-height:750px){
        #bg-1{
            background-position: right -590px bottom 0px !important;
        }
        #bg-2{
            /* for mobile */
            background-position: right -889px bottom 0px !important;        }
        #bg-3{
            background-position: right -567px bottom 0px !important;        }
        #bg-4{
            background-position: right -1176px bottom 0px !important;        
        }
        .grid{
            padding-top:50px;
        }
        .badge{
            height:100px;
        }
        
    }
    
}

@media (max-width:321px){
    .badge{
        height:80px;
    }
}

/* BIGGER THAN (>) 321 px */
@media (min-width:320px)  {

    #bg-2{
        /* for mobile */
        background-position: right -651px bottom 0px;
    }
    #bg-3{
        background-position: right -372px bottom 0px;
    }
    #bg-4{
        background-position: right -802px bottom 0px;
    }

    /* #bg-1{
        background-position: right -374px bottom 0px;
    }
    #bg-2{
        background-position:right -627px bottom 0px;
    }
    #bg-3{
        background-position:right -319px bottom 0px;
    }

    #bg-4{
        background-position:right -662px bottom 0px;
    } */
    .aboutme_desc{
        padding-top:70px !important;
    }
    .viewmywork{
        padding-top:30px;
    }
    .programs{
        font-size:35px;
    }
    .headholder{
        width: 270px;
        white-space: nowrap;
    }
   

}

@media (min-width:360px){
    /* #bg-1{
        background-position: right -374px bottom 0px;
    }
    #bg-2{
        background-position:right -610px bottom 0px;
    }
    #bg-3{
        background-position:right -338px bottom 0px;
    }

    #bg-4{
        background-position:right -718px bottom 0px;
    } */

    .getintouch{
        font-family: 'Raleway-SemiBold';
        font-size: 56px !important;
    }
    .subtouch{
        font-size: 16px !important;
    }

    .links {
        font-size: 17px !important;
     
    }
   
    .contact_holder{
        position:absolute;
        top:41%;
    }

    .options1, .options2, .options3, .options4{
        position: absolute;
        bottom: 41px;
        /* color: #f9f1e9; */
        left: 49px;
        opacity: 0.8;
    }
    .options2{
        left:calc(100vw + 49px) !important;
        opacity:1 !important;
    }
    .options3{
        left:calc(200vw + 49px) !important;
        opacity:1 !important;
    }
    .options4{
        left:calc(300vw + 49px) !important;
        opacity:1 !important;
    }
}
/* BIGGER THAN (>) 374 px */
@media (min-width:374px){

    #bg-2{
        /* for mobile */
        background-position: right -767px bottom 0px;
    }

    #bg-3{
        /* for mobile */
        background-position: right -434px bottom 0px;    }
    #bg-4{
         /* for mobile */
        background-position: right -937px bottom 0px;
    }
    .fronticons{
        width:40px !important;
    }
    .button.trio{
        width:40px;
        height:40px;
    }
    .icons{
        top:85%;
    }
    .main-text{
        top:400px;
    }
    .hello{
        font-size:5em !important;
        padding-left:6px;
    }
    
    .demo .main-title{
    
    }
    
    .sub-title{
        font-size:0.75em;
    }

    .allprograms{
        padding-left:60px !important;
        
    }
    .programs{
        font-size:40px !important;
    }

    .whatsmy-title {
        font-size: 23px !important;
        top: 11px !important;
        left: -29px;
        
    }
    .whatsmy-smaller{
        font-size: 20px !important;
        top: 12px !important;
        left: -32px;
    }
}

/* BIGGER THAN (>) 413 px */
@media (min-width:413px){

    .getintouch{
        font-family: 'Raleway-SemiBold';
        font-size: 65px !important;
    }
    .subtouch {
        font-size: 18px !important;
        padding-left: 10px !important;
    }

    .links {
        font-size: 20px !important;
        line-height: 23px;
    }
    #bg-1{
        background-position: right -471px bottom 0px;
    }
    #bg-2{
        /* for mobile */
        background-position: right -471px bottom 0px;    }
    #bg-3{
        background-position: right -452px bottom 0px;    }
    #bg-4{
        background-position: right -1011px bottom 0px;    }
    .fronticons{
        width:40px !important;
    }
    .button.trio{
        width:40px;
        height:40px;
    }
    .icons{
        top:85%;
    }
    .main-text{
        top:400px;
    }
    .hello{
        font-size:6em !important;
        padding-left:6px;
    }
    
    .demo .main-title{
        font-size:1.4em;
    }
    
    .sub-title{
        font-size:0.88em;
    }
    .allprograms{
        padding-left:60px !important;
        
    }
    .programs{
        font-size:3em;
    }
}
.skills{
    color:#3b3f42 !important;
}
.baby-rocket{
    transform:scale(0.15) !important;
}

.rocket2{
    left:-5%;
    top:5% !important;
}

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    
}
@media (min-width:641px)  { 
    #bg-4 {
        background-position: right -640px bottom 0px !important;
    }

}


/* Normal desktop   > 768px */
@media (min-width: 768px) {
    /* .fp-viewing-section2{
        cursor:default !important;
    } */
    
    /* #bg-1 {
       
        height: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
      #bg-2 {
        height: 100%;
      
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
      #bg-3 {

        height: 100%;
      
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      #bg-4 {
        height: 100%;
      
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      } */

    
    .getintouch {
        font-size: 101px !important;
    }
    .subtouch {
        font-size: 22px !important;
        padding-left: 15px !important;
    }
    .links {
        font-size: 25px !important;
        line-height: 30px;
        padding-left: 20px;
    }
    #bg-1{
        background-position: right -222px bottom 0px !important;
    }
    #bg-2{
        background-position: right -577px bottom 0px !important;
    }
    #bg-3{
        background-position: right -34px bottom 0px !important;
    }
    #bg-4{
        background-position: right -543px bottom 0px !important;
    }
      .whatsmy-smaller {
        font-size: 28px !important;
        top: 10px !important;
        left: -89px !important;
        }
        
        .whatsmy-title {
            font-size: 28px !important;
            top: 10px !important;
            left: -55px;
        }


      #bg-2{
          background-position:center;
      }
      .slide_number{
    
    
        right: unset;
        left: 16px ;
        bottom: 5px ;

        font-size: 40px;
        
        }
    #fp-nav{
        display:block;
    }
    .grid{
        padding-top:0px;
    }
    .main-text{
        top:400px;
    }
    .stuff{
        height:400px;
        top:40%;
        left: 50%;
    }
    .dot{
        height: 300px;
        width: 300px;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);

        
        transition: all 3s ease;
        -webkit-transition: all 3s ease;
    }
    .sub-title{
        top:10px;
        font-size:0.9em;
    }
    
    .demo .main-title{
        font-size: 2.2em;
        letter-spacing: 0.1em;
    }
    .about{
        padding-left:15% !important;
        padding-right:15% !important;
    }
    .allprograms{
        column-count:2;
        padding-left: 270px !important;
        margin-left: -60px;
        padding-top: 113px!important;
        
        line-height: 1.3;

        padding-left: 33% !important;
        margin-left: -8%;
    }
    .programs {
        font-size: 2.5em !important;
        transition: all 0.25s ease-in-out;
        line-height:unset !important;

        
    
    }
    /* .programs:hover{
        font-size: 4em !important;
        line-height:2em;
        transition: all 0.25s ease-in-out;

    } */
  

}
@media (min-width:950px)  { 

    .allprograms{
   
        padding-left: 28% !important;
        margin-left: 1%;
    }
}
/* bigger than 961px */
@media (min-width:961px)  { 
    .arrow-box{
        position:absolute;
        height:30px;
        width:30px;
        /* top: 50%; */
        left: 50%;
        transform: translate(-50%,-50%);
        /* margin-top:100px; */
        cursor:pointer;
        bottom:15px;
    }
    .about{
        padding-left:30% !important;
        padding-right:25% !important;
    }

}

@media (min-width: 1024px) {
    #bg-1{
        background-position: center !important;
    }
    #bg-2{
        background-position: center !important;
    }
    #bg-3{
        background-position: center !important;
    }
    #bg-4{
        background-position: center !important;
    }
    
}

@media (min-width:1025px){
    .options1,.options2,.options3,.options4{
        display:none;
    }
    .desktop_holder1,.desktop_holder2,.desktop_holder3,.desktop_holder4{
        display:block;
    }
}


@media (min-width: 1280px) {

}

@media (min-width: 1366px) {

    .desktop_info1_desc, .desktop_info2_desc, .desktop_info3_desc, .desktop_info4_desc{
       
        width: 75vw;
        font-family: 'Raleway-SemiBold';
        width:300px;
       
        font-size: 19px;
    }
    .desktop_options_text{
        font-size: 2em !important;
        transition: all 0.5s ease-in-out;
        color:#f9f1e9;
    }
    .desktop_holder1 {
        position: absolute;
        left: 110px;
        top: 35%;
    }

    .desktop_holder2{
        position: absolute;
        right: calc(200vw + 110px);
        top: 35%;
    }
    .desktop_holder3{
        position: absolute;
        left: calc(200vw + 110px);
        top: 35%;
    }
    .desktop_holder4{
        position: absolute;
        right: 110px;
        top: 35%;
    }
    .hello{
        font-size:6em !important;
        padding-left:6px;
    }
    .contact_holder {
    
        padding-left: 20px;
    }
    
    
    .intro{
        font-size:1.45em !important;
    }
    
    .sub-title{
        font-size:.9em !important;
    }

    .about{
        font-size:1.5em !important;
    }
    .aboutme-big{
        font-size:3em !important;
        white-space: nowrap;
    }

    .baby-rocket{
        transform: scale(0.25) !important;
    }
    .aboutme-rocket{
        left:120% !important;
        top:-3px !important;;
    }
    .skills{
        font-size:3em !important;
    }
    .recentproj{
        font-size:3em !important;

    }
    .rocket2{
        left:18% !important;
        top:3% !important;
    }
    .aboutme{
        top:50%;
    }
    .holder{
        right: -114px;
    }
    .headholder{
        right: 104px;
        width:311px;
    }
    .headholderskills{
        right: 79px;
        width:287px;
    }
   
    .headholderproj {
        right: 200px;
        width:153px;
    }
    .holder.rocket1{
        right:25px;
        
    }
    .aboutme_desc {
        padding-top: 90px !important;
    }

    .whatsmy-title {
        left: -130px !important;
    }
    .whatsmy-smaller {
        left: -210px !important;
        top: 5px !important;
    }
    
}


/* WIDTH BIGGER THAN > 1440PX */
@media (min-width: 1440px) {

    .getintouch {
        font-size: 113px !important;
    }
    .subtouch {
        font-size: 27px !important;
        padding-left: 21px !important;
    }
    .links {
        font-size: 29px !important;
        line-height: 35px;
        padding-left: 31px;
    }
    .main-text{
        top:400px;
    }
    .hello{
        font-size:8em !important;
        padding-left:6px;
    }
    
    
    .intro{
        font-size:1.9em !important;
    }
    
    .sub-title{
        font-size:1.2em !important;
    }
    .aboutme_desc {
        padding-top: 90px !important;
    }
    .viewmywork {
        padding-top: 80px !important;
    }
    .about{
        font-size:1.6em !important;
    }
    .programs {
        font-size: 4em;
    }
    .allprograms {
        padding-top: 80px !important;
    }

    .allprograms {
        padding-top: 130px !important;
        /* padding-left: 35% !important; */
        padding-left: 39% !important;
        margin-left: -5%;
    }
    .programs {
        font-size: 2.5em !important;
        transition: all 0.25s ease-in-out;
        line-height:unset !important;

        
    
    }

}
@media (min-width: 1600px) {
    .main-text{
        top:400px;
    }
    .hello{
        font-size:8em !important;
        padding-left:6px;
    }
    
    .demo .main-title{
        font-size:1.9em;
    }
    .main-title .intro{
        font-size:3em;
    }
    
    .sub-title{
        font-size:1.2em;
    }

    .allprograms {
        padding-top: 130px !important;
        /* padding-left: 35% !important; */
        padding-left: 36% !important;
        margin-left: -1%;
    }
    .programs {
        font-size: 3em !important;
        transition: all 0.25s ease-in-out;
        line-height:unset !important;

        
    
    }
}

@media (min-width: 1920px) {
    .desktop_info1_desc, .desktop_info2_desc, .desktop_info3_desc, .desktop_info4_desc {
        width: 75vw;
        font-family: 'Raleway-SemiBold';
        width: 500px;
        font-size: 30px;
    }
    .desktop_options_text {
        font-size: 3.2em !important;
      
    }
    .desktop_holder1 {
       
        left: 150px;
     
    }

    .desktop_holder2{
        right: calc(200vw + 150px);
    }
    .desktop_holder3{
        left: calc(200vw + 150px);
    }
    .desktop_holder4{
        right: 150px;
    }

    .getintouch {
        font-size: 149px !important;
    }
    .subtouch {
        font-size: 41px !important;
        padding-left: 13px !important;
    }
    .links {
        font-size: 42px !important;
        line-height: 57px;
        padding-left: 67px;
    }
    .contact_holder {
    
        padding-left: 20px;
    }
    .icons{
        top:95%;
    }
    .main-text{
        top:450px;
    }
    .hello{
        font-size:12em !important;
        padding-left:6px;
    }
    
    
    .intro{
        font-size:2.9em !important;
    }
    
    .sub-title{
        font-size:1.9em !important;
    }

    .aboutme_desc {
        padding-top: 140px !important;
    }
    .viewmywork {
        padding-top: 80px !important;
    }
    .about{
        font-size:2em !important;
    }
    .viewbutton {
        font-size: 25px !important;
    }
    .mybutton {
  
        width: 270px;
        height: 60px;
    }
    .allprograms {
        padding-top: 200px !important;
        /* padding-left: 35% !important; */
        padding-left: 19% !important;
        margin-left: 16%;
    }
    .programs {
        font-size: 4em !important;
        transition: all 0.25s ease-in-out;
        line-height:unset !important;

        
    
    }
}


/* HEIGHT MEDIA QUERIES FOR ROCKET */

 
 @media (min-height: 320px){

 }


/* 
@media only screen and (min-device-width: 375px) and (max-device-height: 812px){
    .men{
        width:300px !important;
        margin-right: auto!important;
        margin-left: auto!important;
    }
    .grid{
        padding-top:5px !important;
    }
} */



/* Hide fullscreen Page Rows Navigation Dots on Mobile  */
/* @media only screen and (min-width: 690px) {
    div#fp-nav {
        display:none !important;
    }
} */

/* Computer Screens > 1025 */
@media only screen and (min-device-width: 1025px) {
    #bg-1{
        background-position: center !important;
    }
    #bg-2{
        background-position: center !important;
    }
    #bg-3{
        background-position: center !important;
    }
    #bg-4{
        background-position: center !important;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
    
    #bg-1{
        background-position: right -434px bottom 0px !important;
    }
    #bg-2{
        background-position: right -1047px bottom 0px !important;
    }
    #bg-3{
        background-position: right -109px bottom 0px;
    }
    #bg-4{
        background-position: right -1100px bottom 0px !important;
    }

    .info1_desc, .info2_desc, .info3_desc, .info4_desc{
        font-size: 27px !important;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    #bg-1{
        background-position: right -434px bottom 0px !important;
    }
    #bg-2{
        background-position: right -450px bottom 0px !important;
    }
    #bg-3{
        background-position: right -109px bottom 0px;
    }
    #bg-4{
        background-position: right -500px bottom 0px !important;
    }
    .info1_desc, .info2_desc, .info3_desc, .info4_desc{
        font-size: 27px !important;
    }

}
/* ipad pro landscape */
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
/*     
    #bg-1{
        background-position: right -300px bottom 0px !important;
    }
    #bg-2{
        background-position: right -700px bottom 0px !important;
    }
    #bg-3{
        background-position: right -100px bottom 0px !important;
        }
    #bg-4{
        background-position: right -650px bottom 0px !important
    } */
    .options_text {
        font-size: 3em !important;
    }
    .info1_desc, .info2_desc, .info3_desc, .info4_desc{
        font-size: 35px !important;
    }
    .whatsmy-title {
        
        left: -130px !important;
    }
    .whatsmy-smaller {
      
        left: -190px !important;
    }
}

/* ipad pro Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {

    .getintouch {
        font-size: 127px !important;
    }
    .subtouch {
        font-size: 35px !important;
        padding-left: 23px !important;
    }
    .links {
        font-size: 33px !important;
        line-height: 42px;
        padding-left: 36px;
    }

    .options_text {
        font-size: 3em !important;
    }
    .info1_desc, .info2_desc, .info3_desc, .info4_desc{
        font-size: 35px !important;
    }
    
    .demo .main-title .intro{
        font-size: 1.9em !important;
    }
    .sub-title {
        /* border: 1px solid green; */
      
        font-size: 1.4em !important;
      
    }
    .main-text {
        top: 500px !important;
    }
    .about {
        padding-left: 20% !important;
        padding-right: 10% !important;
        font-size: 40px !important;
        padding-top: 100px !important;
    }
    .allprograms {
        padding-left: 19% !important;
        column-count: 1 !important;
        font-size: 30px !important;
    }
    .hello {
        font-size: 8em !important;
    }
    #bg-1{
        background-position: right -600px bottom 0px !important;
    }
    #bg-3{
        background-position: right -500px bottom 0px !important;
    }
    #bg-4 {
        background-position: right -1550px bottom 0px !important;
    }
}



/* =================================== Arrow ===================================*/
.arrow-box{
    position:absolute;
    height:20px;
    width:20px;
    /* top: 50%;  */
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin-top:70px; */
    cursor:pointer;
    bottom:15px;
}
.arrow {
    opacity: 0;
    margin:0;
    padding:0;
    position: relative;
    cursor:pointer;
   
  }
  .arrow-1 :hover{
      opacity:1;
  }
  .arrow-2 :hover{
      opacity:1;
  }
  
  .arrow-1 {
    -webkit-animation: arrow-movement 3s ease-in-out infinite;
            animation: arrow-movement 3s ease-in-out infinite;
  }
  
  .arrow-2 {
    -webkit-animation: arrow-movement 3s 1s ease-in-out infinite;
            animation: arrow-movement 3s 1s ease-in-out infinite;
  }
  
  .arrow:before,
  .arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .arrow:before {
    -webkit-transform: rotate(45deg) translateX(-23%);
            transform: rotate(45deg) translateX(-23%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  
  .arrow:after {
    -webkit-transform: rotate(-45deg) translateX(23%);
            transform: rotate(-45deg) translateX(23%);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  
  @-webkit-keyframes arrow-movement {
    0% {
      opacity: 0;
      top: 45%;
    }
    70% {
      opacity: 0.3;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes arrow-movement {
    0% {
      opacity: 0;
      top: 45%;
    }
    70% {
      opacity: 0.3;
    }
    100% {
      opacity: 0;
    }
  }
  /* =================================== Arrow ===================================*/


  .fp-controlArrow.fp-prev {
    left: 50px !important;
    border: none;
    width: 50px !important;
    height: 101px;
    background: url('back.svg') no-repeat;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
    cursor: pointer;
}
.fp-controlArrow.fp-next {
    right: 50px !important;
    border: none;
    width: 50px !important;
    height: 101px;
    background: url('next.svg') no-repeat;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
    cursor: pointer;
}








/* =================== FONTS =================== */
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Regular.woff2') format('woff2'),
        url('fonts/Raleway-Regular.woff') format('woff'),
        url('fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('fonts/Raleway-Thin.eot');
    src: url('fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Thin.woff2') format('woff2'),
        url('fonts/Raleway-Thin.woff') format('woff'),
        url('fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('fonts/Raleway-SemiBold.eot');
    src: url('fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('fonts/Raleway-SemiBold.woff') format('woff'),
        url('fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/* =================== FONTS =================== */



